@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  nav{
    @apply bg-orange-200 p-4 lg:text-sm
  }

  li{
    @apply mx-3 xl:mx-2 md:mx-1 cursor-pointer text-black p-3 rounded transition-all duration-500 hover:scale-110 hover:text-blue-500 bg-gradient-to-br  via-amber-100 from-orange-200 bg-size-200 hover:bg-right-bottom
  }

  #logo, #profile{
    @apply w-14 mx-4
  }
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

#root {
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  color: black;
}